/* text */

.text {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: #313131;
}

.text-second-family {
  font-family: "JetBrains Mono", "Arial", sans-serif;
  color: #313131;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}
/* margin */

.margin-right-15 {
  margin-right: 15px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-right-30 {
  margin-right: 30px;
}

.no-margin {
  margin: 0;
  padding: 0;
}

/* favicon */

.fav-search {
  width: 21px;
  height: 21px;
  background-image: url(/img/svg/search.svg);
}

.fav-account {
  width: 21px;
  height: 21px;
  background-image: url(/img/svg/account.svg);
}

.fav-flag {
  width: 21px;
  height: 21px;
  background-image: url(/img/svg/flag.svg);
}

.fav-bag {
  width: 21px;
  height: 21px;
  background-image: url(/img/svg/bag.svg);
}
