.text-animation__wrapper {
  width: 100%;
  min-height: 124px;
  display: flex;
  align-items: center;
  column-gap: 50px;
  animation: running-text 60s linear infinite;
}

@keyframes running-text {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
