.footer__list {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

@media (max-width: 1600px) {
  .footer__list {
    width: 20rem;
  }
}

@media (max-width: 1400px) {
  .footer__list {
    width: 17rem;
  }
}
